{% extends '@App/layout.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block body_css_class %}homepage{% endblock %}

{% block content_container %}
    <div class="jumbotron">
        <div class="container">
            {% set is_anonymous = app.user is null %}
            {% set name = '' %}

            {% if not is_anonymous %}
                {% set name = ' %s' | format(app.user) %}
            {% endif %}

            <h1>{{ 'app.application.homepage.jumbotron.title' | trans({'%name%': name }) }}</h1>
            <p>{{ 'app.application.homepage.jumbotron.description' | trans }}</p>

            <div class="item">
                {% set products_translated = 'app.application.pages.products.list' | trans %}
                {% set add_product_translated = 'app.action.products.add' | trans %}

                <a href="{{ path('app.product.index') }}" class="btn btn-primary">{{ products_translated }}</a>
                <a href="{{ path('app.admin.new_product') }}" class="btn btn-success">{{ add_product_translated }}</a>
            </div>
        </div>
    </div>
{% endblock %}
